

@{
    ViewBag.Title = "Profile Not Found";
}

<div>
    <div class=" container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-2 text-center">- Profile Not Found -</h1>

            </div>
        </div>
    </div>


</div>

