
@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="bg-danger">@ViewBag.Message</p>
<h2 style="color:red" align="center">Reset Link is Invalid</h2>
<p align="center">You will automatically be redirected to login after 5 seconds</p>
<script>
    window.setTimeout(function () {

        // Move to a new location or you can do something else
        window.location.href = "/Login";

    }, 5000);

</script>


@Html.ActionLink("Back to Login","Index", "Login")


