.badge-abap {
    background-color: #FFA07A;
    color: black;
}

.badge-ada {
    background-color: #F08080;
    color: black;
}

.badge-apex {
    background-color: #8B0000;
    color: white;
}

.badge-assembly {
    background-color: #FF6347;
    color: black;
}

.badge-bash {
    background-color: #FFD700;
    color: black;
}

.badge-c {
    background-color: #FFA500;
    color: black;
}

.badge-csharp {
    background-color: #FF8C00;
    color: white;
}


.badge-cplusplus {
    background-color: #7CFC00;
    color: black;
}


.badge-clojure {
    background-color: #32CD32;
    color: black;
}

.badge-cobol {
    background-color: #00FF00;
    color: black;
}

.badge-css {
    background-color: #00FF7F;
    color: black;
}

.badge-erlang {
    background-color: #98FB98;
    color: black;
}

.badge-fsharp {
    background-color: #2E8B57;
    color: white;
}

.badge-fortran {
    background-color: #00FFFF;
    color: black;
}

.badge-go {
    background-color: #20B2AA;
    color: white;
}

.badge-haskell {
    background-color: #008080;
    color: white;
}

.badge-html {
    background-color: #191970;
    color: white;
}

.badge-java {
    background-color: #ADD8E6;
    color: black;
}

.badge-javascript {
    background-color: #FF1493;
    color: white;
}

.badge-kotlin {
    background-color: #1E90FF;
    color: black;
}

.badge-matlab {
    background-color: #0000CD;
    color: white;
}

.badge-objective-c {
    background-color: #483D8B;
    color: white;
}

.badge-pascal {
    background-color: #DDA0DD;
    color: black;
}

.badge-perl {
    background-color: #8B008B;
    color: white;
}

.badge-php {
    background-color: #8A2BE2;
    color: white;
}

.badge-plslashsql {
    background-color: #A52A2A;
    color: white;
}

.badge-prolog {
    background-color: #800000;
    color: white;
}


.badge-python {
    background-color: #000000;
    color: white;
}

.badge-r {
    background-color: #C0C0C0;
    color: black;
}

.badge-ruby {
    background-color: #DC143C;
    color: white;
}

.badge-rust {
    background-color: #B22222;
    color: white;
}

.badge-sas {
    background-color: #00FA9A;
    color: black;
}

.badge-scala {
    background-color: #2E8B57;
    color: black;
}

.badge-scheme {
    background-color: #00FFFF;
    color: black;
}

.badge-sql {
    background-color: #2F4F4F;
    color: white;
}

.badge-swift {
    background-color: #FF8C00;
    color: white;
}

.badge-typescript {
    background-color: #C71585;
    color: white;
}

.badge-visualbasic {
    background-color: #FFE4E1;
    color: black;
}




