body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Our CSS Goes Here*/

/*Demonstating how pulls work */
.footer-bar {
    margin-top: 30px;
}

.project-image {
    height: 200px;
    object-fit: cover;
}

.project-description{
    font-size: 1.2em;
}

body {
    width: 100%;
    margin: 0%;
}

.profile-image {
    max-height: 300px;
    max-width: 300px;
}

.status_badge{
    font-size: .5em; 
    margin-left: 5px;
}

.status_badge_in_progress {
    background-color: #0575B2;
}

.status_badge_completed {
    background-color: #29A226;
}

.status_badge_cancelled {
    background-color: #D63542;
}

.status_badge_bugged {
    background-color: #FFC02C;
}