
@{
    ViewBag.Title = "About ProveIt";
}

<h2>About ProveIt</h2>

<p>
    ProveIT is a management system designed for IT professionals to display their work to potential employers in an organized and stylish manner. Unlike similar websites, ProveIT allows IT professionals and employers the ability to directly connect with one another.
</p>

<p>
    We are the only thing you need to display all your talents in a professional, clean, and organized package. Network your code the effective way with ProveIT. Our #1 goal is "professionalism, managed."
</p>